@CHARSET "UTF-8";
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background-color: #CC3333;
}

#myImage {
	margin-top: .5em;
	border-top: .2em solid black;
	border-bottom: .2em solid black;
	height: 6em;
	width: 100%;
	background-image:url('pizzaIMG.jpg');
	background-size: 20em 7em;
	background-repeat:no-repeat;
}

h1{
	text-align: center;
	text-shadow: 0.1em 0.1em 0.2em #888;
}

.container {
  position: relative; 
     
}


#mid_inner {
  position: absolute;       /* take element out of the normal page flow! */
  top: 1.7em;                /* position the element vertically using top or bottom
                               and define width as you like:*/
  width: 60%;   
  left: 0;                  /* set left and right to the same value! */
  right: 0;
  margin-left: auto;        /* adding auto-margins left and right will
                               center the element horizontally!*/
  margin-right: auto;
  border: solid block;
	
}
.center {
  position: absolute;       /* take element out of the normal page flow! */
  top: 1.7em;                /* position the element vertically using top or bottom
                               and define width as you like:*/
  width: 60%;   
  left: 0;                  /* set left and right to the same value! */
  right: 0;
  margin-left: auto;        /* adding auto-margins left and right will
                               center the element horizontally!*/
  margin-right: auto;
  border: 0.6em solid #E8A317;
  border-style: ridge;
  background-color: #FFFFCC;
  
  moz-box-shadow: 10px 10px 5px #E77471;
	-webkit-box-shadow: 10px 10px 5px #E77471;
	box-shadow: 10px 10px 5px #E77471;
}

#inner {
	width: 95%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: .2em;
	margin-bottom: 1em;
	/* border: 0.125em solid blue; */	
	/* padding: .2em; */
	/* border: solid red; */
}

#inner_bot {
	padding-top: .25em;
	text-align: center;
	font-size: .75em;
	color: #544E4F;
	border-top: .2em solid black;
}

#submit-button {
	margin-top: .5em;
}

#menu
{
	float:left;
    width: 12%;
}

#order
{
	float:left;
    width: 21%;    
}

#driver
{
	float:left;
    width: 22%;
}

#admin
{
	float:left;
    width: 25%;
}

#contact
{
	float:left;
    width: 20%;
}